@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
.box {
  height: 151px;
  width: 151px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  // background-color: rebeccapurple;
  text-align: center;
  background-color: transparent;
  padding-top: 20px;
  cursor: pointer;
  position: relative;
  i,
  .left_button,
  .right_button {
    position: absolute;
    font-size: 30px;
    display: none;
  }
  .left_button,
  .right_button {
    width: 50px;
  }
  .fa-chevron-double-right {
    top: 60px;
    right: 25px;
  }
  .fa-chevron-double-left {
    top: 60px;
    left: 25px;
  }
  .show {
    display: block;
  }
  .number_stone {
    position: absolute;
    top: 26px;
    left: 70px;
    color: #480707;
    font-size: 20px;
    font-weight: 700;
    font-family: "Gloria Hallelujah", cursive !important;
  }
  .number_stone_quan {
    font-size: 40px;
  }
  .stone_img {
    width: 156px;
    height: 133px;
  }
  .quan_img {
    width: 100px;
    height: 100px;
  }
  .box_quan_item {
    position: relative;
    .quan_img_render {
      position: absolute;
      top: 10px;
    }
    .stone_img {
      position: absolute;
      top: 67px;
      left: -17px;
    }
  }
}
