@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
.o_an_quan {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  font-family: "Gloria Hallelujah", cursive !important;
  .main_game {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 1386px 981px;
    position: relative;
    .map {
      position: absolute;
      left: calc(50% - 705px);
      top: calc(50% - 460px);
      img {
        width: 1410px;
        height: 930px;
      }
    }
    .box_render {
      position: absolute;
      top: calc(50% - 170px);
      left: calc(50% - 582px);
      display: flex;
      width: 1164px;
      .box_center {
        .col-2 {
          max-width: 20%;
        }
        .box_under {
          margin-top: 27px;
          padding-left: 33px;
        }
      }
    }
    .player1 {
      position: absolute;
      top: calc(50% - 250px);
      left: calc(50% - 27px);
      h3 {
        color: #480707;
        font-weight: 700;
        font-family: "Gloria Hallelujah", cursive !important;
      }
    }
    .player2 {
      position: absolute;
      bottom: calc(50% - 250px);
      left: calc(50% - 27px);
      h3 {
        color: #480707;
        font-weight: 700;
        font-family: "Gloria Hallelujah", cursive !important;
      }
    }
    .player_hidden {
      display: none;
    }
    .bot_thinking {
      animation: pulse 1s infinite;
      position: absolute;
      top: calc(50% - 325px);
      left: calc(50% - 470px);
      font-weight: 700;
      font-size: 35px;
      color: #480707;
      font-family: "Gloria Hallelujah", cursive !important;
    }
    .score_1 {
      position: absolute;
      top: calc(50% - 325px);
      right: calc(50% - 420px);
      font-weight: 700;
      font-size: 35px;
      color: #480707;
      font-family: "Gloria Hallelujah", cursive !important;
    }
    .score_2 {
      position: absolute;
      bottom: calc(50% - 325px);
      left: calc(50% - 470px);
      font-weight: 700;
      font-size: 35px;
      color: #480707;
      font-family: "Gloria Hallelujah", cursive !important;
    }
    .play_again {
      position: absolute;
      top: 48%;
      left: 48%;
      button {
        padding: 10px 20px 10px 20px;
      }
    }
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
