.intro_page {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  .group_button {
    text-align: center;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 180px);
    button {
      font-family: "Gloria Hallelujah", cursive !important;
      width: 250px;
      padding: 20px 20px 20px 20px;
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
