
$font-family-default: "Roboto-Light";
$font-family-bold: "Roboto-Bold";
$font-family-medium: "Roboto-Medium";
$font-family-thin: "Roboto-Thin";

$default-border-radius: 5px;

$main-color: rgb(126,126,126);
$second-color:rgb( 138 ,140 ,144);
$title-color: #1a1414ea;
$product-color: rgb( 37, 41 ,53);

